[flake8]
max-line-length = 90
ignore =
    C114,C116,B008,S404,S603
max-complexity = 10
extend-ignore = E203
extend-immutable-calls =
    fastapi.Depends,
    fastapi.params.Depends

exclude =
    ./.git,
    ./build_code_analyzer,
    ./build_test_custom_build,
    ./build,
    ./docs/src,
    ./third_party,
    ./venv,
    ./.venv,
    *.pyi,
    **/__pycache__
