<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OCR Playground</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="wrapper">
				<form method="POST" action="/upload" enctype="multipart/form-data">
					<input type="file" name="file" />
					<input type="submit" value="Upload" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</body>
</html>
